// .header-navigator {
//    @media (min-width:1200px)
//    {
//     display: none;
//    }
// }

 .logo-text {
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.5;
        color:#000000;
}

.logo{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.5;
     
}

.navigator {
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
      color: #263238;
}