<div class="container price-container">
  <div class="price">
    <h2 data-lang="price" class="price-name">Прайс на услуги</h2>
    <ul class="price-list">
      <li data-lang="price-1" class="price-item">
        Атласрефлекс терапия (коррекция первого шейного позвонка)
      </li>
      <li data-lang="price-2" class="price-item">Атласспайн терапия</li>
      <li data-lang="price-3" class="price-item">Кранио-сакральная терапия</li>
      <li data-lang="price-4" class="price-item">
        Мышечно структурные растяжки
      </li>
      <li data-lang="price-5" class="price-item">
        Работа с соединительной тканью
      </li>
      <li data-lang="price-6" class="price-item">Мобилизация суставов</li>
      <li data-lang="price-7" class="price-item">Лечебный массаж</li>
      <li data-lang="price-8" class="price-item">Миофасциальный массаж лица</li>
      <li data-lang="price-9" class="price-item">
        Мышечно структурный массаж лица
      </li>
    </ul>
    <div class="image"></div>
  </div>
</div>
