<div class="container container-slider">
  <h2 data-lang="result" class="slider-title"></h2>

  <div class="before">
    <ul class="before-list">
      <li class="before-item">
        <img
          class="person-list__ava"
          src="/src/images/rrrr.jpg"
          alt="команда"
        />
      </li>

      <li class="before-item">
        <img
          class="person-list__ava"
          src="/src/images/gggg.jpg"
          alt="команда"
        />
      </li>

      <li class="before-item">
        <img class="person-list__ava" src="/src/images/eee.jpg" alt="команда" />
      </li>

      <li class="before-item">
        <img class="person-list__ava" src="/src/images/bbb.jpg" alt="команда" />
      </li>
    </ul>
  </div>
</div>
