<div class="container container-slider">
  <h2 class="slider-title">До\После</h2>
  <div class="carousel">
    <div class="carousel__viewport">
      <div class="carousel__slide"><img src="/src/images/gggg.jpg" /></div>
      <div class="carousel__slide"><img src="/src/images/ddd.jpg" /></div>
      <div class="carousel__slide"><img src="/src/images/eee.jpg" /></div>
      <!-- and so on -->
    </div>
    <button class="carousel__button carousel__button--prev">
      <svg viewBox="-15 -15 30 30" width="80" height="80">
        <circle r="10"></circle>
        <path d="M2,6 L-5,0 L2,-6"></path>
      </svg>
    </button>
    <button class="carousel__button carousel__button--next">
      <svg viewBox="-15 -15 30 30" width="80" height="80">
        <circle r="10"></circle>
        <path d="M2,6 L-5,0 L2,-6" transform="rotate(180)"></path>
      </svg>
    </button>
    <div class="carousel__indicators">
      <div class="carousel__indicator carousel__indicator--active"></div>
      <div class="carousel__indicator"></div>
    </div>
  </div>
</div>
