:root {
	--white-color: #ffffff;
	--black-color: #000000;
	--text-color: #8f95a5;
	--logo-text-color: #939393;
	--titile-btn-color: #263238;
	--per-month-color: #546269;
	--nomber-about-as-color: #2a3246;
	--skils-bagraund-color: #f5f5f5;
	--priccing-price-color: #eeeeee;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5;
	color: var(--text-color);
	background-color: var(--white-color);
	margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding-left: 0;
	list-style: none;
}
button {
	cursor: pointer;
}

img {
	display: block;
}


.section {
	padding-bottom: 180px;
}