.price {
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 80px;
    @media screen and (max-width: 480px) {
            font-size: 24px;
            text-align: center;
            margin-left: 14px;
            width: 94vw;
        }
                 @media screen and (min-width: 481px) and (max-width: 768px) {
                font-size: 21px;
                text-align: center;
                    margin-left: 14px;
                    width: 94vw;
           }
        @media screen and (min-width: 769px) and (max-width: 1199px) {
            font-size: 23px;
                text-align: center;
                margin-left: 22px;
                width: 94vw;
        }
    
}

.price-name {
    font-size: 36px;
    margin-bottom: 30px;
    @media screen and (max-width: 480px) {
            font-size: 19px;
            text-align: center;
        }
                @media screen and (min-width: 481px) and (max-width: 768px) {
                    font-size: 22px;
                        margin-bottom: 30px;
        
                }
                                @media screen and (min-width: 769px) and (max-width: 1199px) {
                                    font-size: 26px;
                                    margin-bottom: 30px;
                                    text-align: center;
                
                                }
}

.price-list {
    list-style-type:square;
   
    margin: 0;
    padding: 0;
  
}

.price-container{
    background-color: rgb(241, 253, 237);
    border-radius: 50px;
    @media screen and (min-width: 769px) and (max-width: 1199px) {
            max-width: 1100;
    
        }
}

.price-item {
    font-size: 26px;
    margin-bottom: 13px;
    font-family: Montserrat;
    @media screen and (max-width: 480px) {
            font-size: 12px;
            text-align: start;
            margin-bottom: 10px;
        }
        @media screen and (min-width: 481px) and (max-width: 768px) {
            font-size: 16px;
                text-align: start;
                margin-bottom: 10px;
        }
                @media screen and (min-width: 769px) and (max-width: 1199px) {
                    font-size: 19px;
                    margin-bottom: 16px;
                    text-align: start;
        
                }
}

.price {
    position: relative;
}

.price .image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 540px;
    background-image: url(/src/images/вазон.png);
    background-size: cover;
    @media screen and (max-width: 480px) {
            width: 120px;
                height: 200px;
                right: -5;
        }
                @media screen and (min-width: 481px) and (max-width: 768px) {
                    width: 140px;
                        height: 230px;
                        right: -5;
                }
                                @media screen and (min-width: 769px) and (max-width: 1199px) {
                                    width: 230px;
                                    height: 320px;
                                    right: -5;
                                }
    
}

