<div class="conteiner">
  <div class="about-blok">
    <h1 class="about_title">About Us</h1>
    <h3 class="about_content">
      The model offers a framework for discussing problems related to the user's
      experience, as well as possible ways and means of solving them.
      Application development begins at the top level (strategy), where the
      future software product is described quite abstractly from the point of
      view of the expectations of both users and the customer.
    </h3>
    <ul class="about-item">
      <li class="">
        <span class="about-pre-title">800</span>
        <p class="about-text">Pupils</p>
      </li>
      <li >
        <span class="about-pre-title">18</span>
        <p class="about-text">Teachers</p>
      </li>
      <li>
        <span class="about-pre-title">6</span>
        <p class="about-text">Foreign languages</p>
      </li>
    </ul>
  </div>

  <img
    src="/src/images/about_ua/Business competition-bro 1.png"
    alt=""
    width="540"
  />
</div>
