<footer class="footer">
  <div class="conteiner">
    <div class="footer-policy">
      <a href="" class="footer-logo"
        ><span class="footer-logo footer-logo--color-accent">Brit</span>lex</a
      >
      <ul class="policy">
        <li class="policy-item">
          <a href="" class="policy-link">Terms and Conditions</a>
        </li>
        <li class="policy-item">
          <a href="" class="policy-link">Privacy Policy</a>
        </li>
        <li class="policy-item">
          <a href="" class="policy-link">Cookie Policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
