<footer class="footer">
  <div class="container container--footer">
    <div class="footer-contact">
      <h2 hidden>контакты></h2>

      <address>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a
              href="https://www.google.com/maps?cid=13688884089456552916"
              class="footer-list__communication footer-list__communication--color"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >North Cyprus, Girne
            </a>
          </li>
          <li class="footer-list__item">
            <a href="tel:+380991111111" class="footer-list__communication"
              >+90 533 881 17 13</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="bottom-icon">
      <p class="bottom-icon__paragraph">Присойденяйтесь</p>
      <ul class="network">
        <li>
          <a
            href="https://www.instagram.com/vasiliydidukhosteopat/?igshid=YmMyMTA2M2Y%3D"
            class="network__link network__link--color icon-red"
            href=""
          >
            <svg width="52px" height="52px">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://t.me/osteopathyschool"
            class="network__link network__link--color icon-bluee"
            href=""
          >
            <svg width="45px" height="45px">
              <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/vasya.didukh"
            class="network__link network__link--color icon-blue"
            href=""
          >
            <svg width="45px" height="45px">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            onclick="window.location.href =`https://api.whatsapp.com/send/?phone=905338811713`;"
            class="network__link network__link--color"
          >
            <svg width="45px" height="45px">
              <use href="./images/symbol-defs.svg#icon-whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
