<footer class="footer">
  <div class="container container--footer">
    <div class="footer-contact">
      <h2 hidden>контакты></h2>

      <address>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a
              href="https://www.google.com/maps/place/%D0%9A%D0%B8%D1%80%D0%B8%D0%BD%D0%B8%D1%8F/@35.4106357,33.1157084,8.92z/data=!4m6!3m5!1s0x14de0dbe1f962d29:0xd3d22dab0be5118f!8m2!3d35.299194!4d33.2363246!16zL20vMDV3bHdu"
              class="footer-list__communication footer-list__communication--color"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >North Cyprus, Girne
            </a>
          </li>
          <li class="footer-list__item">
            <a href="tel:+380991111111" class="footer-list__communication"
              >+90 533 881 17 13</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="bottom-icon">
      <p data-lang="network" class="bottom-icon__paragraph">Остеопат Василий</p>
      <ul class="network">
        <li>
          <a
            href="instagram://user?username=vasiliydidukhosteopat"
            onerror="this.href='https://www.instagram.com/vasiliydidukhosteopat/'"
            target="_blank"
            class="network__link network__link--color icon-red"
          >
            <svg width="52px" height="52px">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://t.me/osteopathyschool"
            class="network__link network__link--color icon-bluee"
          >
            <svg width="45px" height="45px">
              <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/vasya.didukh"
            class="network__link network__link--color icon-blue"
          >
            <svg width="45px" height="45px">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            onclick="window.location.href =`https://api.whatsapp.com/send/?phone=905338811713`;"
            class="network__link network__link--color"
          >
            <svg width="45px" height="45px">
              <use href="./images/symbol-defs.svg#icon-whatsapp"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            onclick="window.location.href =`https://www.tiktok.com/@vasiliydidukhosteopat?`;"
            class="network__link network__link--color"
          >
            <svg width="45px" height="45px">
              <use href="./images/symbol-defs.svg#icon-tiktok"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="bottom-icon">
      <p data-lang="network2" class="bottom-icon__paragraph">
        Школа остеопатии
      </p>
      <ul class="network">
        <li>
          <a
            href="instagram://user?username=osteopathyschool"
            onerror="this.href='https://www.instagram.com/osteopathyschool/'"
            target="_blank"
            class="network__link network__link--color icon-red"
          >
            <svg width="52px" height="52px">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://t.me/osteopathyschool"
            class="network__link network__link--color icon-bluee"
            href=""
          >
            <svg width="45px" height="45px">
              <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/profile.php?id=100088949809274"
            class="network__link network__link--color icon-blue"
            href=""
          >
            <svg width="45px" height="45px">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            onclick="window.location.href =`https://api.whatsapp.com/send/?phone=905338811713`;"
            class="network__link network__link--color"
          >
            <svg width="45px" height="45px">
              <use href="./images/symbol-defs.svg#icon-whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
