<header class="header">
  <div class="container container--header">
 
      <div class="lang-svg">
        <button class="gallery-open">
           <div id="scrollTop" class="isShowBtn isHiden">
  <i class="fa-solid fa-circle-arrow-up"></i>
</div>
       <svg class="form__labale__icon" width="50" height="48">
                      <use
                        href="./images/symbol-defs.svg#icon-images"
                      ></use></svg></button>
                      <div id="gallery">
                        <div class="gallery-open_container">
  <img class='gallery_img'src="\project\osteopatVasiliyDidukh\src\images\photo_2023-03-26_15-00-57.jpg" alt="Зображення 1" >
  <img  class='gallery_img' src="\project\osteopatVasiliyDidukh\src\images\photo_2023-03-26_15-00-38.jpg" alt="Зображення 2">
  <img class='gallery_img' src="\project\osteopatVasiliyDidukh\src\images\photo_2023-03-26_15-00-43.jpg" alt="Зображення 3">
  
   <img class='gallery_img' src="\project\osteopatVasiliyDidukh\src\images\photo_2023-03-26_15-00-57.jpg" alt="Зображення 3">
   <img class='gallery_img' src="\project\osteopatVasiliyDidukh\src\images\photo_2023-03-26_15-01-09.jpg" alt="Зображення 3">
   <img class='gallery_img' src="\project\osteopatVasiliyDidukh\src\images\photo_2023-03-26_15-01-12.jpg" alt="Зображення 3">
   <img class='gallery_img' src="\project\osteopatVasiliyDidukh\src\images\photo_2023-03-26_15-01-19.jpg" alt="Зображення 3">
    <img class='gallery_img' src="\project\osteopatVasiliyDidukh\src\images\photo_2023-03-26_15-01-33.jpg" alt="Зображення 3">  
    <img class='gallery_img' src="\project\osteopatVasiliyDidukh\src\images\photo_2023-03-26_15-00-54.jpg" alt="Зображення 3">
 
  </div>
 <button class="modal-close" >
                <svg class="modal-close__icon" width="50px" height="50px">
                  <use href="./images/symbol-defs.svg#icon-cancel-circle"></use>
                </svg>
              </button>
 
</div>
                     
    </div>
    <div class="cc"> 
    <ul class="menu">
      <li class="menu-item lang-menu-1">
        <a  href="/" class="item-link ">Главная</a></li>
      <li  class="menu-item lang-menu-2">
        <a href="" class="item-link">Услуги</a></li>
      <li  class="menu-item lang-menu-3">
         <a href="" class="item-link">Контакты</a></li>
      <li  class="menu-item  lang-menu-4 ">
         <a href="./school-of-osteopathy.html" class="item-link" >Школа остеопатии</a></li>
    </ul>
    </div>



   
  <div class="lang">
    <div>
  <button class="header-btn">RU</button>
</div>

<div>
   <button class="header-btn">EN</button>
</div>

<div>
    <button class="header-btn">ES</button>
</div>
<div>
    <button class="header-btn">TUR</TR></button>
</div>
  </div>
</div></div>
</header>


 -->