<header class="header">
  <div class="conteiner">
    <a class="logo" lang="en" href="./"
      >Brit<span class="logo__text">Lex</span></a
    >
    <div class="header-navigator">
      <ul class="navigator">
        <li>Home</li>
        <li>Skills</li>
        <li>About Us</li>
        <li>Pricing</li>
        <li>Contacts</li>
      </ul>
      <button type="button" class="Let’s Talk">Замовити послугу</button>
    </div>
    <button
      class="header-button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      type="button"
    >
      <svg width="33.53" height="19">
        <use href="/src/images/header/symbol-defs.svg#icon-menu_40px"></use>
      </svg>
    </button>
  </div>
</header>
