<section class="hero section">
  <div class="container container-hero">
    <div>
      <h1 class="hero-title">Learn Any Foreign Language</h1>
      <p class="hero-text">
        With our teachers who write a program for each student, you will be able
        to make your first sketch after the first lesson.
      </p>
      <button type="button" class="hero-btn">Get started</button>
    </div>
    <img
      src="./images/hero/learning-languages (1).jpg"
      alt=""
      width="654"
      height="510"
    />
  </div>
</section>
