<main class="main">
  <section class="hero">
    <div class="hero_author container">
      <div class="hero_author-title">
        <h1 class="hero_title">Доверьтесь профессионалам</h1>
        <h2 class="hero_title_name">Василий Дидух</h2>
        <p class="hero-text">
          Практикующий врач-остеопат. Преподаватель школы остеопатии на Кипре. С
          2017-2022 проходил обучение на выездных циклах международной Академии
          остеопатии у доктора Алена Бернардо Горидо с получением диплома
          международного образца. Член ассоциации профессиональных остеопатов
          Испания ( R.O.P.) Автор 2-х учебных пособий по остеопатии Автор
          методики Didukh Garrido.
        </p>

        <button
          onclick="window.location.href =`https://api.whatsapp.com/send/?phone=905338811713`;"
          class="hero-btn"
        >
          WhatsApp
        </button>
        <p>всегда открыт для клиентов</p>
        <div class="hero_author__photo">
          <img
            src="./images/vas.jpg"
            class="hero_author__photo__size"
            alt="authorphoto"
            width="600px"
          />

          <div class="hero-title-text">
            <p class="hero-title-text-cont">
              Детям имеющим физические отклонения консультация и сеансы
              реабилитации - бесплатно
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
