<section class="pricing">
  <div class="conteiner">
    <h2 class="pricing-title">Pricing</h2>
    <ul class="pricing-list">
      <li class="pricing-list__item">
        <picture>
          <source
            srcset="
              ./images/pricing/Online-test-bro-1-dt-1x.png 1x,
              ./images/pricing/Online-test-bro-1-dt-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/pricing/Online-test-bro-1-tab-1x.png 1x,
              ./images/pricing/Online-test-bro-1-tab-2x.png 2x
            "
            media="(min-width: 575px)"
          />
          <source
            srcset="
              ./images/pricing/Online-test-bro-1-mob-1x.png 1x,
              ./images/pricing/Online-test-bro-1-mob-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/pricing/Online-test-bro-1-mob-1x.png"
            alt="Test-Online"
            width="248"
          />
          <div class="pricing-list__card">
            <h3 class="pricing-list__title">Self-study online course</h3>
            <p class="pricing-list__text">
              Start learning English online in live classes with qualified EC
              teachers and students from all over the world.
            </p>
            <button class="button" class="btn-list__text">
              <div class="btn-list__price">£5.99</div>
              <div class="btn-list__period">per month</div>
            </button>
          </div>
        </picture>
      </li>
      <li class="pricing-list__item">
        <picture>
          <source
            srcset="
              ./images/pricing/Lesson-bro-1-dt-1x.png 1x,
              ./images/pricing/Lesson-bro-1-dt-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/pricing/Lesson-bro-1-tab-1x.png 1x,
              ./images/pricing/Lesson-bro-1-tab-2x.png 2x
            "
            media="(min-width: 575px)"
          />
          <source
            srcset="
              ./images/pricing/Online-test-bro-1-dt-1x.png 1x,
              ./images/pricing/Online-test-bro-1-dt-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/pricing/Online-test-bro-1-dt-1x.png"
            alt="Test-Online"
            width="248"
          />
          <div class="pricing-list__card">
            <h3 class="pricing-list__title">Self-study online course</h3>
            <p class="pricing-list__text">
              Start learning English online in live classes with qualified EC
              teachers and students from all over the world.
            </p>
            <button class="button" class="btn-list__text">
              <div class="btn-list__price">£5.99</div>
              <div class="btn-list__period">per month</div>
            </button>
          </div>
        </picture>
      </li>
      <li class="pricing-list__item">
        <picture>
          <source
            srcset="
              ./images/pricing/Online-test-bro-1-dt-1x.png 1x,
              ./images/pricing/Online-test-bro-1-dt-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/pricing/Online-test-bro-1-tab-1x.png 1x,
              ./images/pricing/Online-test-bro-1-tab-2x.png 2x
            "
            media="(min-width: 575px)"
          />
          <source
            srcset="
              ./images/pricing/Online-test-bro-1-dt-1x.png 1x,
              ./images/pricing/Online-test-bro-1-dt-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/pricing/Online-test-bro-1-dt-1x.png"
            alt="Test-Online"
            width="248"
          />
          <div class="pricing-list__card">
            <h3 class="pricing-list__title">Self-study online course</h3>
            <p class="pricing-list__text">
              Start learning English online in live classes with qualified EC
              teachers and students from all over the world.
            </p>
            <button class="button" class="btn-list__text">
              <div class="btn-list__price">£5.99</div>
              <div class="btn-list__period">per month</div>
            </button>
          </div>
        </picture>
      </li>
    </ul>
  </div>
</section>
