<section class="skills">
  <h2 class="skills__header">Skills</h2>
  <ul class="parent">
    <li class="div1">
      <div class="card">
        <div class="thumb">
          <img src="../images/skills/Skill-1-desktop-1x.jpg" alt="" />
        </div>
        <h3></h3>
        <p></p>
        <button></button>
      </div>
    </li>
    <li class="div2">
      <div class="card">
        <div class="thumb">
          <img src="../images/skills/Skill-1-desktop-1x.jpg" alt="" />
        </div>
        <h3></h3>
        <p></p>
        <button></button>
      </div>
    </li>
    <li class="div3">
      <div class="card">
        <div class="thumb">
          <img src="../images/skills/Skill-1-desktop-1x.jpg" alt="" />
        </div>
        <h3></h3>
        <p></p>
        <button></button>
      </div>
    </li>
    <li class="div4">
      <div class="card">
        <div class="thumb">
          <img src="../images/skills/Skill-1-desktop-1x.jpg" alt="" />
        </div>
        <h3></h3>
        <p></p>
        <button></button>
      </div>
    </li>
  </ul>
</section>

<section>next</section>
