.container-teacher{
  margin-top:30px;
border-radius: 30px;
background-color: rgb(221, 249, 222);
}

.school-svg-icon{
    fill:rgb(6, 232, 92);
    margin-left: 90px;
}

.school-list{
 list-style: none;
 display: flex;


}


.school{
  display: flex;
  justify-content: center;
  margin-left: 76px;
}

.school-svg-text{
font-weight: 600;
font-size: 24px;
}


