.container-teacher{
  margin-top: 20px;
border-radius: 30px;
background-color: rgb(221, 249, 222);

@media screen and (min-width: 1200px) {
    margin-top: 150px;
      border-radius: 30px;
  }
   
     @media screen and (min-width: 769px) and (max-width: 1199px) {
       max-width: 1000px;
       
     }
}

.school-svg-icon{
    fill:rgb(6, 232, 92);
    margin-left: 50px;
    @media screen and (max-width: 480px) {
        margin-left: 0px;
        width: 33px;
        height: 33px;
      }
                     @media screen and (min-width: 481px) and (max-width: 768px) {
                      margin-left: 0px;
                        width: 33px;
                        height: 33px;
                     }
                                            @media screen and (min-width: 769px) and (max-width: 1199px) {
                                              margin-left: 0px;
                                                width: 33px;
                                                height: 33px;
                                            }
}

.school-list{
 list-style: none;
 display: flex;
@media screen and (max-width: 480px) {
  display: block;
  }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      display: block;
  
    }
 @media screen and (min-width: 769px) and (max-width: 1199px) {
  flex-wrap: wrap;
    gap: 50px;
 }
        
}

.school-item {
  display: flex;
    align-items: center;
}


.school{
  display: flex;
  justify-content: center;
  margin-left: 76px;
  @media screen and (max-width: 480px) {
    margin-left: -20px;
    display: block;
    }
        @media screen and (min-width: 481px) and (max-width: 768px) {
          margin-left: 20px;
            display: block;
        }
                 @media screen and (min-width: 769px) and (max-width: 1199px) {
                  margin-left: 10px;;
                 }
}

.school-svg-text{
font-weight: 600;
font-size: 24px;
@media screen and (max-width: 480px) {
    font-size: 17px;
    width:82vw;
    margin-top: 4px;
  }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 17px;
        width: 82vw;
        margin-top: 4px;
    }
         @media screen and (min-width: 769px) and (max-width: 1199px) {
            margin-top: 12px;
              font-size: 15px
         }
}


