<main class="main main-person">
  <section class="hero">
    <div class="container">
      <div class="hero_school-title">
        <h1 class="hero_title">Школа остеопатии</h1>
        <div class="hero-school_cont">
          <img
            class="school-img"
            src="/src/images/photo_2023-03-26_15-01-33.jpg"
            alt="photo"
            width="320px"
            height="470px"
          />
          <p class="hero-school-text">
            Хотите научиться лечить людей с помощью своих рук и восстановить их
            здоровье без использования химических препаратов или же повысить
            свою квалификацию в данной сфере? Тогда школа остеопатии - это то,
            что вам нужно! В нашей школе вы получите все необходимые знания и
            навыки, чтобы стать высококвалифицированным остеопатом. Наша
            программа обучения включает в себя как теоретические, так и
            практические занятия, которые позволят вам понять основы
            остеопатической медицины и применять их на практике.
          </p>
          <div class="decoration"></div>
        </div>
        <div class="decoration-2"></div>
      </div>
    </div>
  </section>
</main>
