<section class="section section--person">
  <div class="container">
    <div class="section--person-circle"></div>
    <h2 class="main__title">Наши преподаватели</h2>
    <ul class="person-list">
      <li class="person-list__item">
        <img
          class="person-list__ava"
          src="/src/images/teach_2023-03-26_16-01-12.jpg"
          alt="команда"
          width="360"
        />
        <h3 class="person-list__title">Vasiliy Didukh</h3>
        <p class="person-list__text">
          Практикующий остеопат и преподаватель в школе остеопатии на Кипре. С
          2017 по 2022 годы проходил обучение в Международной Академии
          Остеопатии под руководством доктора Алена Бернардо Горидо и получил
          международный диплом. Также является членом Испанской Ассоциации
          Профессиональных Остеопатов (Р.О.Р.) , автор двух учебников по
          остеопатии, а также методологии Дидух Гарридо.
        </p>
      </li>
      <li class="person-list__item">
        <img
          class="person-list__ava"
          src="/src/images/teach_2023-05-03_21-26-27.jpg"
          alt="команда"
          width="360"
        />
        <h3 class="person-list__title">Valentina Pererva</h3>
        <p class="person-list__text">
          Является ведущим преподавателем курса и практикующим остеопатом и
          массажистом. Кроме того, имеет сертификат специалиста в области
          массажа лица и тела, а также является энергетическим практиком.
        </p>
      </li>
      <li class="person-list__item">
        <img
          class="person-list__ava"
          src="/src/images/teach_2023-05-04_10-38-42.jpg"
          alt="команда"
          width="360"
        />
        <h3 class="person-list__title">Allain Garrido</h3>
        <p class="person-list__text">Профессор остеопатии</p>
      </li>
    </ul>
  </div>
</section>
