<div class="container container-teacher">
  <div class="school-svg">
    <ul class="school-list">
      <li class="school">
        <img class="school-svg-icon" width="52px" src="./images/gg.png" />
        <p data-lang="icons" class="school-svg-text">
          Сертификат европейского образца
        </p>
      </li>
      <li class="school">
        <img class="school-svg-icon" width="52px" src="./images/gg.png" />
        <p data-lang="icons2" class="school-svg-text">
          Обучение на нескольких языках
        </p>
      </li>
      <li class="school">
        <img class="school-svg-icon" width="52px" src="./images/gg.png" />
        <p data-lang="icons3" class="school-svg-text">
          Совмещение учебы и отдыха на прекрасном острове Кипр
        </p>
      </li>
    </ul>
  </div>
</div>
