<div class="container container-teacher">
  <div class="school-svg">
    <ul class="school-list">
      <div class="school">
        <li сlass="school-item">
          <svg class="school-svg-icon" width="50" height="48">
            <use href="./images/symbol-defs.svg#icon-checkmark-outline"></use>
          </svg>
          <p class="school-svg-text">Сертификат европейского образца</p>
        </li>
      </div>
      <div class="school">
        <li сlass="school-item">
          <svg class="school-svg-icon" width="50" height="48">
            <use href="./images/symbol-defs.svg#icon-checkmark-outline"></use>
          </svg>
          <p class="school-svg-text">Обучение на нескольки языках</p>
        </li>
      </div>
      <div class="school">
        <li сlass="school-item">
          <svg class="school-svg-icon" width="50" height="48">
            <use href="./images/symbol-defs.svg#icon-checkmark-outline"></use>
          </svg>
          <p class="school-svg-text">
            Совмещение учебы и отдыха на прекрасном острове кипр
          </p>
        </li>
      </div>
    </ul>
  </div>
</div>
