li
<div class="container container-teacher">
  <div class="school-svg">
    <ul class="school-list">
      <div class="school">
        <li сlass="school-item">
          <img class="school-svg-icon" width="52px" src="./images/gg.png" />

          <p data-lang="icons" class="school-svg-text">
            Сертификат европейского образца
          </p>
        </li>
      </div>
      <div class="school">
        <li сlass="school-item">
          <img class="school-svg-icon" width="52px" src="./images/gg.png" />
          <p data-lang="icons2" class="school-svg-text">
            Обучение на нескольких языках
          </p>
        </li>
      </div>
      <div class="school">
        <li сlass="school-item">
          <img class="school-svg-icon" width="52px" src="./images/gg.png" />
          <p data-lang="icons3" class="school-svg-text">
            Совмещение учебы и отдыха на прекрасном острове кипр
          </p>
        </li>
      </div>
    </ul>
  </div>
</div>

<!-- <script>
  $(document).ready(function () {
    $(window).scroll(function () {
      $('.school-item').each(function () {
        var bottom_of_object = $(this).offset().top + $(this).outerHeight();
        var bottom_of_window = $(window).scrollTop() + $(window).height();

        if (bottom_of_window > bottom_of_object) {
          $(this).addClass('animate__animated animate__fadeInUp');
        }
      });
    });
  });
</script> -->
